<h2>Movie details</h2>
<ul>
    <li>{{this.title}}</li>
    <li>{{this.genre}}</li>
    <li>{{this.plot}}</li>
</ul>
<br>
<ul>
    {{#each allCelebrities}}
        <li>{{this.name}}</li>
        <li>{{this.occupation}}</li>
        <li>{{this.catchPhrase}}</li>
    {{/each}}
</ul>

<form action="/movies/{{_id}}/delete" method='post'>
    <input type="text" name="title" value="{{this.title}}">
    <br>
    <button type= 'delete'> delete </button>
</form>